<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h3>Id: <%=user.id%></h3>
    <h1>You are about to delete the users entry....</h1>
    <h2>Before that, Let's have a verification.</h2>

    <form method="POST" action="/user/<%=user.id%>?_method=DELETE">
        <p>Enter the Email :</p> &nbsp;
        <input type="email" name="email" id="email" placeholder="Enter your email" required/> <br><br>

        <p>Enter the Password : </p> &nbsp;
        <input type="password" name="password" id="password" placeholder="Enter your password" required/> <br><br>

        <button type="submit">Delete</button>

    </form>
</body>
</html>