<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Add entry</title>
</head>
<body>
    <h2>Adding a new entry...</h2><br>
    <form method="POST" action="/user/add/new">
        <p>Email : </p>
        <input type="email" placeholder="email" name="email"/> <br><br>
        <p>Username : </p>
        <input type="text" placeholder="username" name="username"/> <br><br>
        <p>Enter Password : </p>
        <input type="password" placeholder="password" name="password"/> <br>
        <p>Enter the Password Again : </p>
        <input type="password" placeholder="rewritePassword" name="againPassword"/> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>